.skeleton-img {
  width: 100%;
  height: 100%;
}

.skeleton-name {
  width: 50%;
  height: 22px;
}

.skeleton-email {
  width: 75%;
  height: 18px;
}

.skeleton {
  background-color: #ccc;
  animation: skeleton 3s infinite;
}

@keyframes skeleton {
  0%{
    background-color: #ccc;
  }
  50%{
    background-color: #eee;
  }
  100% {
    background-color: #ccc;
  }
}
