@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  font-size: 15px;
  --white: rgb(231, 233, 234);
  --twitter: rgb(29, 155, 240);
  --dark-gray: rgb(113, 118, 123);
  --very-dark-gray: rgb(47, 51, 54);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #000;
}

/* HEADER */
header {
  width: 100%;
  height: 3.5rem;
  position: fixed;
  bottom: 0;
  z-index: 10;
  border-top: 1px solid var(--very-dark-gray);
  background-color: #000;
}

.header-container, nav, ul, .section-1, .nav-container {
  height: 100%;
}

.logo-container {
  display: none;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-container .space {
  display: none;
}

.nav-container .space2 {
  display: none;
}

li {
  list-style: none;
}

.button-container {
  display: none;
}

.button-container span {
  display: none;
}

svg {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--white);
}

a {
  display: none;
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
}

.section-2 {
  display: none;
}

/* MAIN */
article {
  max-width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-bottom: 1px solid var(--very-dark-gray);
}

article .head {
  display: flex;
  align-items: center;
  gap: 20px;
}

article .head div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--dark-gray);
}

article .head p {
  width: 60%;
  height: 15px;
  background-color: var(--dark-gray);
}

article .body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

article .body p {
  width: 100%;
  max-width: 500px;
  height: 15px;
  background-color: var(--dark-gray);
}

article .body div {
  width: 100%;
  max-width: 500px;
  height: 200px;
  background-color: var(--dark-gray);
}

/* ASIDE */
aside {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

aside .article-1 {
  width: 100%;
  height: 50px;
  border-radius: 9999px;
  background-color: var(--very-dark-gray);
}

aside .article-2 {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-color: var(--very-dark-gray);
}

aside .article-3 {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  background-color: var(--very-dark-gray);
}


/* RESPONSIVE DESIGN */
@media only screen and (min-width: 500px) {
  .content {
    display: flex;
  }

  header {
    flex-grow: 1;
    flex-shrink: 0;
    width: auto;
    height: auto;
    position: static;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .header-container {
    width: 68px;
    height: auto;
  }

  nav {
    height: 100%;
    position: fixed;
    top: 0;
  }

  ul {
    width: 68px;
    height: 100%;
    padding: 0 4px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .section-1 {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-container {
    width: 52px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo-x {
    width: 50.4px;
    height: 2rem;
  }

  .nav-container {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 4px;
    height: auto;
    flex-direction: column;
  }

  .nav-container > li {
    height: 1.75rem;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .nav-container .space {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .nav-container div li {
    height: 1.75rem;
  }

  .button-container {
    margin: 4px 0;
    display: block;
  }

  .button-container > div {
    width: 52px;
    height: 52px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--twitter);
  }

  .button-container svg {
    width: 24px;
    height: 24px;
  }

  .section-2 {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
  }

  .photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #212eb0;
  }

  .profile {
    display: none;
  }

  main {
    flex-grow: 1;
    width: 100%;
  }

  .main-container {
    width: 100%;
  }

  article {
    border-left: 1px solid var(--very-dark-gray);
    border-right: 1px solid var(--very-dark-gray);
  }
}

@media only screen and (min-width: 600px) {
  .header-container {
    width: 88px;
  }

  ul {
    width: 88px;
    padding: 0 8px;
  }
}

@media only screen and (min-width: 688px) {
  main {
    flex-grow: 2;
    width: auto;
  }

  .main-container {
    width: 600px;
  }
}

@media only screen and (min-width: 988px) {
  .header-container {
    width: 68px;
  }

  ul {
    width: 68px;
    padding: 0 4px;
  }

  main {
    flex-grow: 1;
  }

  .main-container {
    width: 920px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  .main-content {
    width: 100%;
    max-width: 600px;
    flex-grow: 1;
    flex-shrink: 0;
  }

  aside {
    margin-right: 10px;
    width: 290px;
    display: flex;
  }
}

@media only screen and (min-width: 1008px) {
  .header-container {
    width: 88px;
  }

  ul {
    width: 88px;
    padding: 0 8px;
  }
}

@media only screen and (min-width: 1077px) {
  .main-container {
    width: 990px;
  }

  aside {
    width: 350px;
  }
}

@media only screen and (min-width: 1265px) {
  .header-container {
    width: 275px;
  }

  ul {
    width: 275px;
    padding: 0 8px;
  }

  .section-1 {
    align-items: flex-start;
  }

  .nav-container {
    padding-left: 12px;
    align-items: flex-start;
  }

  li {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  a {
    display: inline;
    font-size: 20px;
    font-weight: 400;
  }

  .a-home {
    font-weight: 700;
  }

  .button-container {
    width: 90%;
  }

  .button-container div {
    width: auto;
    border-radius: 9999px;
  }

  .button-container div svg {
    display: none;
  }

  .button-container span {
    display: inline;
    font-size: 17px;
    font-weight: 700;
    color: var(--white);
  }

  .section-2 {
    padding: 12px;
    display: block;
  }

  .photo-m {
    display: none;
  }

  .profile {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--white);
  }

  .profile-text .name {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
  }

  .profile-text .lastname {
    font-size: 15px;
    line-height: 20px;
    color: var(--dark-gray);
  }

  .profile-button {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .profile-button svg {
    height: 1.25em;
  }
}

@media only screen and (min-width: 1500px) {
  .header-container {
    margin-left: 60px;
  }

  .nav-container .space2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .main-container {
    width: 1050px;
  }

  aside {
    margin-right: 70px;
  }
}
